
body {	
	background-repeat:no-repeat;
	background-color: #f8f8f8;
	-webkit-tap-highlight-color: #999999;
}

hr {
	margin-top: 2em;
	margin-bottom: 2em;
}

a:hover {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

#content {
	margin: 0 auto;
}

#header {
	position: fixed;
	max-height: 960px;
	width: 100%;
	top: 0px;
	height: 50px;
	z-index: 99;
	box-shadow: 0px 5px 20px 0px rgba(128, 128, 128, 0.1);
}

#nav {
	position: absolute;
	line-height: 48px;
	right: 10%;
	font-size: 0.8em;
}	

#menu {
	display: none;
	position: absolute;
	top: 15px;
	right: 10%;
}

.links {
	font-size: 0.9em;
	margin-top: 20px;
}

.linkspace {
	margin: 0 20px;
}

#logo {
	position: absolute;
	top: 10px;
	left: 10%;
}

#main {
	margin: 50px auto 30px auto;
	padding: 1% 10%; 
	max-width: 768px;
}

.button {
	color: #FFFFFF;
	background: #17DDD5;
	//border: 1px solid #17DDD5;
	font-size: 0.9em;
	padding: 2px 16px;
	text-align: center;
	line-height: 32px;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;
}

.button a {
	color: #FFFFFF;
}

.button:hover {
  	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  	filter: grayscale(100%);
}

.button:touch {
	color: #07CBD2; 
	//border: 1px solid #07CBD2;
}

		
#signupDIV {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 800px;
	display: none;
	margin: 0 auto;
	background-color: #F8F8F8;
}

#signupDIV .frame {
	min-height: 680px;
}

#menuDIV {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	display: none;
	margin: 0 auto;
	z-index: 99;
}

#menuDIV .frame {
	height: 300px;
	box-shadow: 0px 5px 20px 0px rgba(128, 128, 128, 0.5);
}

#close {
	position: absolute;
	top: 15px;
	right: 10%;
}
		
.frame {
	display: block;
	margin: 0;
	width: 100%;
	border: none;
}


/* Best of Hello */

#bestofhello {
  text-align: center;
  margin: 0 auto;
  padding: 30px 5%;
}

.jot {
	display: inline-block;
	padding: 1%;
	width: 40%;
	min-width: 300px;
	max-width: 400px;
}

.jot img {
	vertical-align: middle;
	width: 100%;
	border-radius: 4px;
}

.creator {
	font-size: 0.9em;
	display: absolute;
	margin: 6px 0;
	text-align: left;
	color: #333333;
}

.creator img{
	margin-right: 10px;
	width: 40px;
	border-radius: 4px;
}


/* Footer */

#getapp {
	padding: 30px 0;
	text-align: center;
	background: #FFFFFF; //linear-gradient( 0deg, #DEDEDE, #FFFFFF );
}

#getapp p {
	margin: 0 auto;
	width: 90%;
}

.download {
  margin: 0 auto;
}

.dl2_icon {
	width: 35%;
	max-width: 360px;
	min-width: 260px;
	margin-top: 15px;
}

.dl_icon {
	width: 25%;
	max-width: 180px;
	min-width: 150px;
	margin-top: 20px;
}

#footer {
	background-color: #f8f8f8;
	text-align: center;
	padding-bottom: 20px;
}

.icon {
	margin: 0 15px;
	height: 50px;
}

#footer .links {
	position: relative;
	left: 0;
	margin: 1.5em auto;
	width: 100%;
}

@media (min-width: 1200px) {

	#nav,
	#menu {
		right: 15%;
	}

	#logo {
		left: 15%;
	}

	#main {
		padding: 1% 15%;
	}
}

@media (max-width: 1024px) {

	#main {
		font-size: 1.0em;
	}
}

@media (max-width: 767px) {

    #nav {
      display: none;
    }

    #menu {
      display: block;
    }

    .download {
      width: 320px;
      text-align: center;
    }

	.jot {
		padding: 2% 0;
		width: 100%;
	}

	#footer {
		height: 360px;
	}
}

@media (max-width: 640px) {

 	#signupDIV .frame {
		min-height: 720px;
	}
}

@media (max-width: 480px) {

	.dl2_icon {
		max-width: 300px;
		min-width: 260px;
	}

	.dl_icon {
		max-width: 110px;
	}

	.jot {
		max-width: 320px;
	}

	.linkspace {
		margin: 0 12px;
	}
}

@media (max-width: 320px) {

	.jot {
		min-width: 280px;
	}
}
