/* Header */
  #header {
    display: none;
    z-index: 99;
  }

  #hero_nav {
    position: absolute;
    width: 100%;
    padding-top: 1px;
    top: 0px;
    background: linear-gradient( 0deg, rgba(0,0,0, 0), rgba(0,0,0, 0.6));
    height: 60px;
    z-index: 1;
  }

  #hero_nav a {
    color: #F1D42D;
  }

  #hero_nav .button {
    color: #333333;
    background: #F1D42D;
    border: 1px solid #F1D42D;
    font-size: 0.9em;
    margin: -10px auto 0 auto;
    padding: 6px 16px;
    text-align: center;
    line-height: 37px;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;
  }

  #hero_nav .button:hover {
    color: #FFFFFF;
  }

  #hero_nav .button:touch {
    color: #FFFFFF;
    border: 1px solid #F1D42D;
  }

  #language {
    position: absolute;
    top: 8px;
    left: 10%;
    font-size: 12pt;
  }

  #language a {
    color: #FFFFFF;
  }

  #langDIV {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0px;
    display: none;
    margin-left: calc(10% + 20px);
    z-index: 99;
    border: 1px solid #FF0000;
  }

  #langDIV .frame {
    height: 200px;
  }

  .flag {
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;

  }

/* Hero */

  #hero {
    background-color: #000000;
    background-image: url(/img_/hero1.jpg);

    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: local;

    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;

    -webkit-transition: background 0.9s linear;
    transition: background 0.9s linear;
    z-index: -1;
  }

  #hero,
  #tint {
    height: 640px;
    width: 100%;
  }

  #tint {
    position: absolute;
    background-size: local;
    background: linear-gradient( -90deg, rgba(0,0,0, 0), rgba(0,0,0, 0.6));
    z-index: 0;
  }

  #stuff {
    position: relative;
    padding-top: 220px;
    padding-left: 10%;
  }

  #hero_logo {
    width: 40%;
    margin-left: -5px;
    margin-bottom: 15px;
    min-width: 300px;
    max-width: 500px;
  }

  #hero_logo img{
    width: 100%;
  }

  #hero_blurb {
    text-align: left;
    font-family: 'latolight', Helvetica, sans-serif;
    font-size: 1.5em;
    color: #FFFFFF;
    height: 60px;
  }

  #download {
    margin-top: 60px;
  }

  #download a:hover {
    opacity: 0.7;
  }

/* Sections */

  .indent {
    padding: 0 10%;
    margin: 0 auto;
    max-width: 960px;
  }

  .key {
    float: right;
    width: 52%;
    margin-top: 50px;
  }

  .pix {
    padding-left: 1%;
    width: 45%;
    min-width: 240px;
    max-width: 320px;
  }

  .pix img {
    width: 100%;
  }

  .txt {
    font-size: 1.1em;
    height: 3.2em;
  }

  #section1 {
    background: #FF895B;    
    color: #FFFFFF;
    margin: 0 auto;
    overflow-y: hidden;
    height: 360px;
  }

  #section1 .key {
    float: left;
    margin-top: 30px;
  }

  #section1 .pix {
    float: right;
    margin: 20px 0 10px 0;
  }

  #section2,
  #section4 {
    margin: 0 auto;
    color: #333333;
    padding-top: 60px;
    overflow-y: hidden;
    height: 390px;
    background-color: #F4F4F4;
  }

  #section3 {
    background: #FFEF85;    
    color: #0A868A; 
    padding: 40px 0 20px 0;
    margin: 0 auto;
    text-align: center;
  }

  #section3 .pix {
    width: 100%;
    max-width: 960px;
    margin-bottom: 8%;
  }

  #section3 img {
    width: 100%;
    max-width: 600px;
  }

  .trap_section {
    position: relative;
    width: 100%;
    border: none;
  }

  #trap_top1,
  #trap_top3 {
    position: absolute;
    top: -60px;
    border-top: 60px solid transparent;
  }

  #trap_bottom1,
  #trap_bottom3 {
    position: absolute;
    bottom: -60px;
    border-bottom: 60px solid transparent;
  }

/* Features */

  #keyfeatures {
    display: inline-block;
    text-align: center;
    padding: 10px 0 20px 0;
    background: #18DFE6; /*#18DFE6;*/
  }

  #keyfeatures h1 {
    color: #FFFFFF;
    margin-bottom: 1em;
  }

  #keyfeatures p {
    margin: 15px 0;
  }

  #keyfeatures .title {
    color: #0A868A;
  }

  #keyfeatures .desc {
    padding: 0 5%;
  }

  #bestCTA {
    margin: 20px auto;
    width: 240px;
  }
  

  @media (min-width: 1136px) {

    #hero,
    #tint {
      height: 800px;
    }

    #stuff {
      padding-left: 12%;
    }

    #trap_top1,
    #trap_top3 {
      position: absolute;
      top: -80px;
      border-top: 80px solid transparent;
    }

    #trap_bottom1,
    #trap_bottom3 {
      position: absolute;
      bottom: -80px;
      border-bottom: 80px solid transparent;
    }

    #main {
        padding: 30px 3%;
        max-width: 1300px;
    }

    #bestofhello {
        max-width: 1500px;
    }

    .threecol {
      height: 10em;
    } 
  }

  @media (min-width: 1500px) {

    .threecol {
      height: 8em;
    } 
  }

  @media (max-width: 1136px) {

    #hero,
    #tint {
      height: 720px;
    }

    #stuff {
      padding-left: 10%;
    }

    .threecol {
      height: 11em;
    } 
  }

  @media (max-width: 960px) {

    #hero,
    #tint {
      height: 680px;
    }

    .indent {
      padding: 0 7%;
    }

    .key {
      width: 49%;
    }

    .threecol {
      height: 9em;
    } 
  }

  @media (max-width: 840px) {

    .indent {
      padding: 0 6%;
    }

  }
  
  @media (max-width: 767px) {

    #hero,
    #tint {
      height: 660px;
    }

    #tint {
      background: linear-gradient( 180deg, rgba(0,0,0, 0), rgba(0,0,0, 0.4));
    }

    #stuff {
      padding-top: 210px;
      padding-left: 0;
    }

    #hero_logo {
      margin: 0 auto;
      min-width: 220px;
      margin-bottom: 15px;
    }

    #hero_blurb {
      font-size: 1.2em;
      text-align: center;
    }

    #download {
      margin-top: 100px;
    }

    #trap_top1,
    #trap_top3 {
      top: -40px;
      border-top: 40px solid transparent;
    }

    #trap_bottom1,
    #trap_bottom3 {
      bottom: -40px;
      border-bottom: 40px solid transparent;
    }

    .key {
      float: none;
      margin: 30px auto 0 auto;
      width: 100%;
      text-align: center;
    }

    .pix { 
      float: none;
      margin: 0 auto;
      width: 100%;
    }    

    #section1 {
      height: 550px;
    }

    #section1 .key {
      float: none;
      margin-top: 0;
    }

    #section1 .pix {
      float: none;
      margin: 30px auto 0 auto;
      max-width: 320px;
    }

    #section2,
    #section4 {
      padding-top: 40px;
      height: 700px;
    }
  }

  @media (max-width: 580px) {

    .threecol {
      float: none;
      margin: 0px auto 10px auto;
      width: 90%;
      height: 100%;
    }
  }

  @media (max-width: 480px) {

    #hero,
    #tint {
      height: 560px;
    }

    #stuff {
      padding-top: 160px;
    }

    #download {
      margin-top: 80px;
    }
  }

  @media (max-width: 320px) {

    #hero,
    #tint {
      height: 500px;
    }

    #stuff {
      padding-top: 150px;
    }

    #hero_logo {
      margin: 0 auto;
      min-width: 200px;
      margin-bottom: 10px;
    }

    #hero_blurb {
      font-size: 1.1em;
    }

    #download {
      margin-top: 40px;
    }

  }
