
body {
  font-family: "latolight", Helvetica, sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  color: #555555;
}

a:active {
  color: #000 !important;
}

a:hover {
  color: #CCCCCC !important;
}

a {
  color: #07CBD2; /* #00C3C9;  */
  text-decoration: none;
  font-weight: bold;
}

strong {
  font-family: "latomedium", Helvetica, sans-serif;
}

h1 {
  font-family: "latothin", Helvetica, sans-serif;
  font-size: 1.7em;
  line-height: 1.2em;
  margin-top: 1em;
}

h2 {
  font-family: "latolight", Helvetica, sans-serif;
  font-size: 1.4em;
  margin-top: 1em;
}

.title {
  font-family: "latomedium", Helvetica, sans-serif;
  font-size: 1.3em;
}

.subtitle {
  font-family: "latolight", Helvetica, sans-serif;
  font-size: 0.9em;
  margin: 0;
}

.label {
  font-family: "latolight", Helvetica, sans-serif;
  font-size: 1.1em;
}

.desc {
  font-size: 1.1em;
  line-height: 1.2em;
  width: 100%;
}


.quote {
  font-family: "latomedium_italic", Helvetica, sans-serif;
  font-size: 1.0em;
}

.copyright {
  font-size: 0.8em;
  color: #999999;
  margin-top: 1.5em;
}

.sm {
  font-size: 0.9em;
}

@media (min-width: 1024px) {

  body {
    font-size: 1.4em;
    line-height: 1.6em;
  }
}

@media (max-width: 768px) {
 
  body {
    font-size: 1.2em;
    line-height: 1.4em;
  }

  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.2em;
  }


}


@media (max-width: 640px) {

  body {
    font-size: 1.1em;
    line-height: 1.3em;
  }

}

